PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Student (
Student_ID INT(11) NOT NULL,
Student_Name VARCHAR(50) NOT NULL
, Date_of_Birth TEXT NOT NULL, Gender VARCHAR(10) NOT NULL);
INSERT INTO Student VALUES(11212,'John Johnson','2008-01-04','Male');
INSERT INTO Student VALUES(19590,'Prudence Paavo','2008-06-16','Female');
INSERT INTO Student VALUES(20232,'Gift Uwame','2008-01-02','Female');
CREATE TABLE Teacher (
  Teacher_ID varchar(10) NOT NULL,
  Teacher_Name varchar(50) NOT NULL,
  Subject varchar(50) NOT NULL,
  Years_Served int(10) NOT NULL,
  Salary int(10) NOT NULL,
  Street_Address varchar(50) NOT NULL,
  Postal_Code varchar(20) NOT NULL,
  Contact_Number varchar(40) NOT NULL
);
INSERT INTO Teacher VALUES('AKIR','Amy Kirman','Biology',5,33010,'14b Grey Street','BN16 1HB','07788 775623');
INSERT INTO Teacher VALUES('BDID','Benoit Didier','French',9,40590,'13b North Street','BN17 4HG','07789 645253');
INSERT INTO Teacher VALUES('DWIN','Della Windsor','Design Technology',5,33010,'4801 Ridge Road','BN13 1GD','07896 354765');
CREATE TABLE Behaviour_Management (
  Student_ID int(11) NOT NULL,
  Attendance_Percentage decimal(5,1) NOT NULL,
  Plus_Points int(100) NOT NULL,
  Minus_Points int(100) NOT NULL
);
INSERT INTO Behaviour_Management VALUES(11212,49.499999999999999998,0,-34);
INSERT INTO Behaviour_Management VALUES(19590,99.900000000000005687,35,-1);
INSERT INTO Behaviour_Management VALUES(20232,100,31,0);
CREATE TABLE Student_Timetable (
  Student_ID int(11) NOT NULL,
  Class_ID varchar(50) NOT NULL,
  ID int(11) NOT NULL,
  Time time NOT NULL
);
INSERT INTO Student_Timetable VALUES(11212,'ART08',1,'08:30:00');
INSERT INTO Student_Timetable VALUES(11212,'BIO08',2,'09:20:00');
INSERT INTO Student_Timetable VALUES(11212,'LAN08',4,'10:30:00');
CREATE TABLE Timetable (
  Class_ID varchar(50) NOT NULL,
  Teacher_ID varchar(10) NOT NULL,
  Subject varchar(50) NOT NULL,
  Room_Number varchar(100) NOT NULL,
  Day varchar(20) NOT NULL,
  Time time NOT NULL
);
INSERT INTO Timetable VALUES('BIO08','AKIR','Biology','221','Monday','09:20:00');
INSERT INTO Timetable VALUES('FRE08','BDID','French','107','Monday','14:25:00');
INSERT INTO Timetable VALUES('DTA08','DWIN','Design Technology','323','Monday','14:25:00');
COMMIT;
