body {
    font-family: Arial;
}

.container {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #5F5F5F;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}

.myButton {
	background-color:#44c767;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:12px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonDelete {
	background-color:#c74545;
	border-radius:5px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:12px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662929;
}
.myButtonDelete:hover {
	background-color:#bd2a2a;
}
.myButtonDelete:active {
	position:relative;
	top:1px;
}

.myButtonSearch {
	background-color:#4588c7;
	border-radius:5px;
	border:1px solid #1960ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:6px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b4766;
}
.myButtonSearch:hover {
	background-color:#2d7fbd;
}
.myButtonSearch:active {
	position:relative;
	top:1px;
}

.topnav {
	overflow: hidden;
	background-color: #f5f5f5;
  }
  
  .topnav a {
	float: left;
	color: #858585;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #e6e6e6;
	color: black;
  }
  
  .topnav a.active {
	background-color: #4588c7;
	color: white;
  }

  table, th, td {
	padding: 5px;
	border-spacing: 10px;
  }